.tooltip {
  z-index: 100;
  position: absolute;
  box-sizing: border-box;
/*  width: 400px;*/
  padding: 5px;
  background: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-editorWidget-border);
  pointer-events: none;
	box-shadow: 0 .25em .5em 0 black;
}

.tooltip dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 0.4em;
}

.tooltip dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip dt {
  font-weight: bold;
  margin-right: 0.5em;
}

.tooltip .eh {
  font-weight: bold;
  margin-left: 1em;
}

.tooltip .hint {
  margin-top: 0.5em;
  text-align: right;
  font-size: 0.9em;
}

.tooltip .biton {
  font-size: 80%;
  display: inline-block;
  margin-right: 2px;
  background-color: var(--vscode-editor-selectionBackground);
  border: 1px solid var(--vscode-editorHoverWidget-border);
}

.tooltip .bitoff {
  font-size: 80%;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid var(--vscode-editorHoverWidget-border);
  opacity: 0.6;
}

.timeBack {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: col-resize;
}
.timeHandle {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: white;
  cursor: col-resize;
}
.timeLine {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
}

.scrollbar::-webkit-scrollbar {
  width: 0px;
}