.tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  padding: 5px;
  background: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-editorWidget-border);
  pointer-events: none;
}

.tooltip dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-row-gap: 0.4em;
}

.tooltip dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip dt {
  font-weight: bold;
  margin-right: 0.5em;
}

.tooltip .hint {
  margin-top: 0.5em;
  text-align: right;
  font-size: 0.9em;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 150ms opacity;
}

.handle.active,
.handle:hover {
  opacity: 1;
}

.handle .bookend,
.handle .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0;
  box-sizing: border-box;
}

.handle .bg {
  cursor: pointer;
  border-top: 1px solid var(--vscode-editorHoverWidget-border);
  border-bottom: 1px solid var(--vscode-editorHoverWidget-border);
}

.handle .bg.active {
  background-color: var(--vscode-inputOption-activeBackground);
  border-color: var(--vscode-inputOption-activeBackground);
  opacity: 1;
}

.handle .bookend {
  pointer-events: none;
}

.handle .bookend > div {
  pointer-events: all;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--vscode-editorHoverWidget-border);
  cursor: col-resize;
}

.handle .bookend.active > div {
  background-color: var(--vscode-inputOption-activeBackground);
}

:global(.vscode-high-contrast) .handle {
  opacity: 1;
}

:global(.vscode-high-contrast) .handle .bg {
  background: none;
  opacity: 1 !important;
}

:global(.vscode-high-contrast) .handle .bookend > div {
  background: var(--vscode-editorHoverWidget-border);
}
