out
node_modules
.vscode-test/
*.vsix
bin/winuae.ini
bin/dh0/runme.exe
bin/*.uae
bin/configuration.*
bin/*.ini
template/obj8mingw
template/obj
template/*.elf
template/a.mingw.*
template/.vscode/settings.json