**/*.dmp
**/*.map
**/*.ts
**/tsconfig*.json
**/tslint*.json
**/webpack*.js
.eslintignore
.github/**
.gitignore
.vscode-test/**
.vscode/**
bin/**/*.exp
bin/**/*.ini
bin/**/*.lib
bin/**/*.uae
bin/**/*.fs-uae
bin/**/*.uss
bin/**/configuration.*
bin/**/debug
bin/dh0/runme.exe
bin/**/winuae.ini
bin/**/winuaebootlog.txt
ci/**
gcc-barto.patch
out/**
src/**
preact-devtools/**
profile/**
template/.vscode/settings.json
template/obj
!template/obj/DELETE.ME
template/obj8mingw
!template/out/
template/out/*
!template/out/DELETE.ME
