.github/**
ci/**
.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.eslintignore
**/tsconfig*.json
**/tslint*.json
**/webpack*.js
**/*.map
**/*.ts
bin/winuae.ini
bin/winuaebootlog.txt
bin/dh0/runme.exe
bin/configuration.*
bin/*.uae
bin/*.uss
bin/*.ini
bin/*.exp
bin/*.lib
**/*.dmp
template/obj8mingw
template/obj
template/*.elf
template/a.mingw.*
template/.vscode/settings.json
