.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
bin/winuae.ini
bin/dh0/runme.exe
bin/configuration.*
bin/*.uae
bin/*.ini
template/obj8mingw
template/obj
template/*.elf
template/a.mingw.*
template/.vscode/settings.json
