.wrapper {
	font-size: var(--vscode-editor-font-size);
	margin-bottom: 5px;
	position: relative;
}

.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
	white-space: nowrap;
	flex-grow: 1;
	overflow: auto;
}

.row {
	height: calc(var(--vscode-editor-font-size) + 3px);
}

.find_hit {
	background-color: var(--vscode-editor-findMatchHighlightBackground);
	color: inherit;
  }
  
.past {
	opacity: 1.0;
}

.future {
	opacity: 0.75;
}

.cur {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.reg {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: help;
}

.tooltip_parent {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 250px;
	z-index: 100;
	pointer-events: none;
}

/* from resources.module.css */
.tooltip {
	vertical-align: bottom;
	max-height: 250px;
	width: 500px;

	box-sizing: border-box;
	box-shadow: 0 .25em .5em 0 black;
	padding: 5px;
	background: var(--vscode-editorWidget-background);
	border: 1px solid var(--vscode-editorWidget-border);
	overflow-y: auto;
}
