.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
	white-space: pre;
}

.fixed {
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
}

.right {
	text-align: right;
}

.tooltip {
	z-index: 100;
	position: absolute;
	box-sizing: border-box;
	box-shadow: 0 .25em .5em 0 black;
	padding: 5px;
	background: var(--vscode-editorWidget-background);
	border: 1px solid var(--vscode-editorWidget-border);
	pointer-events: none;
}
  
.gfxresource_menu {
	width: initial !important;
	box-shadow: 0 .25em .5em 0 black;
}

.gfxresource {
	width: 450px;
	display: grid;
	grid-template-columns: auto 100px 70px 80px; /* name, information, size, address */
	column-gap: 0.3em;
}

.gfxresource_brief {
	width: 175px;
	display: grid;
	grid-template-columns: auto 0 0 0;
}

.gfxresource dd, .gfxresource_brief dd, .gfxresource dt, .gfxresource_brief dt {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gfxresource dd, .gfxresource_brief dd {
	opacity: 0.8;
}

.palette {
	display: inline-grid;
	grid-template-columns: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
	gap: 1px;
	vertical-align: super;
}

.palette > div {
	width: 5px;
	height: 6px;
}

:root {
	--stripe1: rgba(255, 255, 255, 0.1);
	--stripe2: rgba(255, 255, 255, 0.2);
}

.screen {
	position: relative; /* to allow for 'position: absolute' in .zoom */
}

.screen > canvas {
	background-image: linear-gradient(45deg, var(--stripe1) 25%, var(--stripe2) 25%, var(--stripe2) 50%, var(--stripe1) 50%, var(--stripe1) 75%, var(--stripe2) 75%, var(--stripe2));
	background-size: 30px 30px;
	animation: barberpole 0.5s linear infinite;
	cursor: crosshair;
}

.zoom {
	position: absolute;
	box-shadow: 0 0 1em 0 black;
	background: var(--vscode-editor-background);
}

.zoom canvas {
	background-image: linear-gradient(45deg, var(--stripe1) 25%, var(--stripe2) 25%, var(--stripe2) 50%, var(--stripe1) 50%, var(--stripe1) 75%, var(--stripe2) 75%, var(--stripe2));
	background-size: 30px 30px;
}

.zoom div {
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 3px;
}

.zoom dl {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: 0.4em;
}
  
.zoom dd {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
  
.zoom dt {
	font-weight: bold;
	margin-right: 0.5em;
}

@keyframes barberpole {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 60px 30px;
	}
}