.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
}

.reg {
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
	white-space: pre;
	position: relative;
	flex-grow: 1;
}
.line {
	display: flex;
}
.line:hover {
	background: var(--vscode-input-background);
}
.line:hover .nav {
	visibility: visible;
}

.nav {
	line-height: 0;
	visibility: hidden;
	white-space: nowrap;
}

.cur {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.button {
	background: none;
	border: none;
	align-items: center;
	border: none;
	opacity: 0.7;
	outline: 0 !important;
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
	cursor: pointer;
	height: var(--vscode-editor-font-size);
}

.button + .button {
	margin-left: 0;
}

.button:hover {
	opacity: 1;
}

.button > svg {
	width: var(--vscode-editor-font-size);
}

/* from copper.css */
.help {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: help;
}

.tooltip_parent {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 250px;
	z-index: 100;
	pointer-events: none;
}

/* from resources.module.css */
.tooltip {
	vertical-align: bottom;
	max-height: 250px;
	width: 500px;

	box-sizing: border-box;
	box-shadow: 0 .25em .5em 0 black;
	padding: 5px;
	background: var(--vscode-editorWidget-background);
	border: 1px solid var(--vscode-editorWidget-border);
	overflow-y: auto;
}
