.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
}

.reg {
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
	white-space: pre;
	position: relative;
	flex-grow: 1;
}
.line {
	display: flex;
}
.line:hover {
	background: var(--vscode-input-background);
}
.line:hover .nav {
	visibility: visible;
}

.nav {
	line-height: 0;
	visibility: hidden;
	white-space: nowrap;
}

.cur {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.button {
	background: none;
	border: none;
	align-items: center;
	border: none;
	opacity: 0.7;
	outline: 0 !important;
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
	cursor: pointer;
	height: var(--vscode-editor-font-size);
}

.button + .button {
	margin-left: 0;
}

.button:hover {
	opacity: 1;
}

.button > svg {
	width: var(--vscode-editor-font-size);
}
