* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.filter {
  flex-shrink: 0;
  padding-bottom: 10px;
}

.rows {
  flex-basis: 0px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
