.Dropdown-root {
  position: relative;
  vertical-align: top;
  display: inline-block;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;

  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  color: var(--vscode-dropdown-foreground);
  background: var(--vscode-dropdown-background);

  box-sizing: border-box;
  cursor: default;
  padding: 1px 3px 1px 3px;
  transition: all 200ms ease;
}

.Dropdown-arrow {
  border-color: var(--vscode-dropdown-foreground) transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 5px;
  top: 9px;
  width: 0
}

.Dropdown-menu {
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  color: var(--vscode-dropdown-foreground);
  background: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-dropdown-border);

  box-sizing: border-box;
  margin-top: -1px;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  overscroll-behavior: none;
}

/*
.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}
*/

.Dropdown-option {
  box-sizing: border-box;
  cursor: default;
  display: block;
  padding: 1px 3px;
}

.Dropdown-option:hover, .Dropdown-option.is-selected:hover {
  background-color: var(--vscode-list-activeSelectionBackground);
  color: var(--vscode-editor-selectionForeground);
}

.Dropdown-option.is-selected {
  border: 1px solid var(--vscode-editorWidget-border);
  background-color: var(--vscode-editorWidget-background);
}
/*
.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
*/