.wrapper {
  background: var(--vscode-editor-background);
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  background: var(--vscode-input-background);
}

.wrapper:focus-within {
  border-color: var(--vscode-focusBorder);
}

.wrapper > input {
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  background: none;
  border: 0;
  padding: 3px 4px;
  color: var(--vscode-input-foreground);
  flex-grow: 1;
}

.wrapper > input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.wrapper > input:focus {
  outline: 0;
}

.wrapper > button {
  flex-shrink: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  align-self: stretch;
}
