* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.filter {
  flex-shrink: 0;
  padding-bottom: 10px;
}

.f {
  display: flex;
  align-items: center;
}

.rows {
/*  flex-basis: 0px;*/
/*  flex-grow: 1;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
}

.split {
  /* wrapper */
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;

  /* split */
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  flex-direction: column;
}

/* list of frames in profile */
.frames {
  flex-shrink: 0;
  line-height: 0;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow-x: auto;
}

.frames img {
  cursor: pointer;
  height: 48px;
}

.frames .frame {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}

.frames .frame .label {
  position: absolute;
  pointer-events: none;
  top: 2px;
  left: 2px;
  line-height: 100%;
}

.tooltip {
	z-index: 100;
	position: absolute;
	box-sizing: border-box;
	box-shadow: 0 .25em .5em 0 black;
	padding: 5px;
	background: var(--vscode-editorWidget-background);
	border: 1px solid var(--vscode-editorWidget-border);
	pointer-events: none;
}
