/* find */
.find {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 500px;
  max-width: 90%;
  right: 16px;
  top: 0;
  padding: 4px;
  background: var(--vscode-sideBar-background);
  box-shadow: 0 .25em .5em 0 black;
  transition: transform ease-out 0.2s;
  white-space: nowrap;
}

.find_hidden {
  transform: translateY(-40px);
}

.find_visible {
  transform: translateY(0);
}

.find_result {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  padding: 0px 8px;
  font-size: calc(var(--vscode-editor-font-size) - 2px);
  flex-basis: 80px;
}

/* copy from filter.module.css */
.find > input {
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-editor-font-weight);
  font-size: var(--vscode-editor-font-size);
  background: var(--vscode-input-background);
  border: 1px solid transparent;
  padding: 2px 4px;
  color: var(--vscode-input-foreground);
  flex-grow: 1;
}

.find > input::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.find > input:focus {
  border-color: var(--vscode-focusBorder);
  outline: 0;
}

.find > button {
  flex-shrink: 0;
}

/* function */
.gfxresource_menu {
	width: initial !important;
  box-shadow: 0 .25em .5em 0 black;
}

.function {
  white-space: nowrap;
}

.function svg {
  display: inline-block;
  height: 1em;
  margin-right: 0.25em;
}

.wrapper {
  font-size: var(--vscode-editor-font-size);
  margin-bottom: 5px;
  position: relative;
}

.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
  white-space: pre;
  flex-grow: 1;
  overflow: auto;
  transition: opacity linear 0.2s;
}

svg .jumpduration {
  fill: var(--vscode-terminal-ansiYellow);
  opacity: 0.6;
}

.row {
  display: flex;
  height: calc(var(--vscode-editor-font-size) + 3px);
	margin-left: 70px; /* for jump */
}

.jump {
	position: absolute;
	width: 70px;
	stroke-width: 1;
}

.jumpalways {
	stroke: lightgrey;
	fill: lightgrey;
	z-index: 2;
}

.jumpcond {
	stroke: grey;
	fill: grey;
	z-index: 1;
}

.jumpcur {
	stroke: white;
	fill: white;
	stroke-width: 3;
	z-index: 900;
}

.duration {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--vscode-terminal-ansiYellow);
  margin-right: 8px;
}

.dim1 {
  opacity: 0.8;
}

.dim2 {
  opacity: 0.6;
}

.file {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--vscode-font-family);
  margin-left: 2em;
  font-size: 0.8em;
  direction: rtl;
  flex-grow: 1;
  margin-left: 2em;
  opacity: 0.8;
}

a {
  color: var(--vscode-terminal-foreground);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--vscode-terminal-foreground);
  cursor: pointer;
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
  outline: 1px solid var(--vscode-focusBorder);
}

/* don't use opacity or filter, it's slow */
.zero {
  color: #666; /* TODO: other themes */
}

.zero a, .zero a:hover, .zero a:focus {
  color: #666; /* TODO: other themes */
}

.zero .duration {
  color: #660; /* TODO: other themes */
}

.cur {
	background-color: var(--vscode-editor-selectionBackground);
	color: var(--vscode-editor-selectionForeground);
}

.cur_same_loc {
  background-color: var(--vscode-editor-inactiveSelectionBackground);
}

.find_hit {
  background-color: var(--vscode-editor-findMatchHighlightBackground);
  color: inherit;
}

/*.find_hit_cur {
  background-color: var(--vscode-editor-findMatchBackground);
  color: inherit;
}*/

/* from customregs.css */
.button {
	background: none;
	border: none;
	align-items: center;
	border: none;
	outline: 0 !important;
	margin-left: 3px;
	margin-right: 3px;
	padding: 0;
  cursor: pointer;
  height: 16px;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button > svg {
  width: 16px;
  height: 16px;
}

/* from copper.css */
.opcode {
	text-decoration-line: underline;
	text-decoration-style: dotted;
  text-decoration-color: currentColor;
	cursor: help;
}

.tooltip_parent {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 250px;
	z-index: 100;
	pointer-events: none;
}

/* from resources.module.css */
.tooltip {
	vertical-align: bottom;
	max-height: 250px;
	width: 500px;
	box-sizing: border-box;
	box-shadow: 0 .25em .5em 0 black;
	padding: 5px;
	background: var(--vscode-editorWidget-background);
	border: 1px solid var(--vscode-editorWidget-border);
	overflow-y: auto;
}

/* registers */
.registers {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 220px;
  max-width: 90%;
  right: 16px;
  top: 34px;
  padding: 4px;
  box-shadow: 0 .25em .5em 0 black;
  background: var(--vscode-sideBar-background);
	color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
  white-space: pre;
	margin: -5px;
}

.registers > div {
	margin: 5px;
  float: left;
}
