.container {
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-editor-font-family);
	font-size: var(--vscode-editor-font-size);
	font-weight: var(--vscode-editor-font-weight);   
	white-space: pre;
}

.row {
	height: 20px; /* TEST */
	margin-left: 150px;
}

.jump {
	position: absolute;
	width: 150px;
	stroke: lightgrey;
	fill: lightgrey;
	stroke-width: 1;
}

.jumpcur {
	stroke-width: 2;
	stroke: white;
	fill: white;
	z-index: 900;
}

.cur {
    background: crimson;
}