.select {
	font-family: var(--vscode-font-family);
	font-weight: var(--vscode-editor-font-weight);
	font-size: var(--vscode-editor-font-size);
	color: var(--vscode-dropdown-foreground);
	background: var(--vscode-dropdown-background);
	border: none;
}

.gutter-horizontal {
	border-left: 1px solid var(--vscode-editorGroup-border);
	cursor: w-resize;
}

:focus-visible {
	outline: var(--vscode-focusBorder) solid 2px;
}
